## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.77,85,86,21.70,light rain
1,1,Khatanga,RU,71.9667,102.5000,-2.61,99,93,2.95,overcast clouds
2,2,Yellowknife,CA,62.4560,-114.3525,27.28,92,83,11.01,broken clouds
3,3,East London,ZA,-33.0153,27.9116,65.80,85,29,8.50,scattered clouds
4,4,Hobart,AU,-42.8794,147.3294,52.27,69,75,3.00,broken clouds

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 



# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Wanning,CN,18.8003,110.3967,76.01,87,50,9.42,scattered clouds
11,11,Victoria,HK,22.2855,114.1577,76.32,84,80,3.00,broken clouds
16,16,Butaritari,KI,3.0707,172.7902,81.88,73,83,6.04,light rain
17,17,Atuona,PF,-9.8000,-139.0333,77.59,70,22,18.70,few clouds
18,18,Hilo,US,19.7297,-155.0900,76.12,67,1,6.91,clear sky
19,19,Takoradi,GH,4.8845,-1.7554,79.92,82,84,12.01,broken clouds
20,20,Touros,BR,-5.1989,-35.4608,86.90,64,42,18.70,scattered clouds
23,23,Champerico,GT,14.3000,-91.9167,88.34,71,98,3.91,overcast clouds
28,28,Dhidhdhoo,MV,6.8833,73.1000,80.06,82,100,5.66,overcast clouds
38,38,Vaini,TO,-21.2000,-175.2000,75.18,74,11,13.38,few clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [21]:
clean_df.isna().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Wanning,CN,76.01,scattered clouds,18.8003,110.3967,
11,Victoria,HK,76.32,broken clouds,22.2855,114.1577,
16,Butaritari,KI,81.88,light rain,3.0707,172.7902,
17,Atuona,PF,77.59,few clouds,-9.8000,-139.0333,
18,Hilo,US,76.12,clear sky,19.7297,-155.0900,
19,Takoradi,GH,79.92,broken clouds,4.8845,-1.7554,
20,Touros,BR,86.90,scattered clouds,-5.1989,-35.4608,
23,Champerico,GT,88.34,overcast clouds,14.3000,-91.9167,
28,Dhidhdhoo,MV,80.06,overcast clouds,6.8833,73.1000,
38,Vaini,TO,75.18,few clouds,-21.2000,-175.2000,

In [23]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "18.8003, 110.3967"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels["results"][0]["name"]

'Paradise Hotel'

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
  
    # 6c. Get latitude and longitude from DataFrame
      # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]   

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(196)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Wanning,CN,76.01,scattered clouds,18.8003,110.3967,Paradise Hotel
11,Victoria,HK,76.32,broken clouds,22.2855,114.1577,Mini Hotel Central
16,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge
17,Atuona,PF,77.59,few clouds,-9.8000,-139.0333,Villa Enata
18,Hilo,US,76.12,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
641,Axim,GH,79.12,broken clouds,4.8699,-2.2405,Axim Beach Resort And Spa
649,Grand-Lahou,CI,78.62,overcast clouds,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
651,Galle,LK,77.40,overcast clouds,6.0367,80.2170,Amangalla
652,Kannangad,IN,77.92,overcast clouds,12.3081,75.1063,Hotel Landmark
666,Simbahan,PH,82.42,broken clouds,6.3032,120.5836,

In [34]:
# 7. Drop the rows where there is no Hotel Name.

In [35]:
hotel_df[hotel_df['Hotel Name'] == ''].index

Int64Index([47, 99, 277, 281, 460, 533, 631, 639, 666], dtype='int64')

In [36]:
hotel_df.eq('').sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             9
dtype: int64

In [37]:
clean_hotel_df = hotel_df.drop([47, 99, 277, 281, 460, 533, 631, 639, 666])

In [38]:
clean_hotel_df.eq('').sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [39]:
clean_hotel_df.head(196)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Wanning,CN,76.01,scattered clouds,18.8003,110.3967,Paradise Hotel
11,Victoria,HK,76.32,broken clouds,22.2855,114.1577,Mini Hotel Central
16,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge
17,Atuona,PF,77.59,few clouds,-9.8000,-139.0333,Villa Enata
18,Hilo,US,76.12,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
640,Balabac,PH,82.35,overcast clouds,7.9868,117.0645,Sing and Swing Lodge
641,Axim,GH,79.12,broken clouds,4.8699,-2.2405,Axim Beach Resort And Spa
649,Grand-Lahou,CI,78.62,overcast clouds,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
651,Galle,LK,77.40,overcast clouds,6.0367,80.2170,Amangalla
652,Kannangad,IN,77.92,overcast clouds,12.3081,75.1063,Hotel Landmark

In [40]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))